
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #28272a;
}

.btn{
    position: relative;
    width: 240px;
    height: 80px;
    background: rgba(94, 88, 88, 0.726);
    text-decoration: none;
    color: white;
    border-radius: 60px;
    display: flex;
    align-items: center;
    padding-left: 120px;
    transition: 0.5s;
    font-size: 1.2rem;
    overflow: hidden;

}

.btn:hover{
    padding-left: 20px;
}

.btn span{
    position: absolute;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50%;
    left: 12px;
    transition: 0.5s ease-in-out;
}

span:hover{
    left: 120px;
}

.btn:hover span {
    left: 165px;
}

.btn:after{
    content: '';
    position: absolute;
    width: 60px;
    height: 100%;
    z-index: 1;
    background: rgb(255, 255, 255, 0.3);
    transform: translateX(-200px) skewX(30deg);
    transition: .9s;
}

.btn:hover:after{
    transform: translateX(230px) skewX(30deg);
}


